In [81]:
import pandas as pd
import numpy as np
from IPython.display import display
import matplotlib.pyplot as plt
%matplotlib inline  

pd.options.display.max_columns = None
ccms_data = pd.read_excel('/home/sindhuvarun/EELS hackathon/CCMS/Dummy data/Dummy data/Instant Raw Report (11).xlsx')

In [82]:
timestamp = ccms_data['Timestamp']
energy = ccms_data['Total Apparent Energy']
print(timestamp)

0       2019-05-01 23:44:42
1       2019-05-01 23:29:04
2       2019-05-01 23:13:58
3       2019-05-01 22:57:49
4       2019-05-01 22:42:12
5       2019-05-01 21:56:21
6       2019-05-01 21:40:43
7       2019-05-01 21:25:06
8       2019-05-01 21:09:28
9       2019-05-01 20:53:51
10      2019-05-01 20:38:14
11      2019-05-01 20:22:36
12      2019-05-01 20:06:59
13      2019-05-01 19:51:20
14      2019-05-01 19:35:43
15      2019-05-01 19:20:05
16      2019-05-01 19:03:36
17      2019-05-01 18:47:59
18      2019-05-01 18:32:21
19      2019-05-01 18:16:44
20      2019-05-01 18:01:38
21      2019-05-01 17:45:29
22      2019-05-01 17:29:51
23      2019-05-01 17:14:14
24      2019-05-01 16:58:37
25      2019-05-01 16:42:59
26      2019-05-01 16:27:22
27      2019-05-01 16:11:44
28      2019-05-01 15:56:07
29      2019-05-01 15:40:30
               ...
2647    2019-04-01 07:44:13
2648    2019-04-01 07:27:33
2649    2019-04-01 07:11:56
2650    2019-04-01 06:56:18
2651    2019-04-01 06:40:40
2652    2019-04-01 06:25:03
2653    2019-04-01 06:08:54
2654    2019-04-01 05:53:17
2655    2019-04-01 05:38:11
2656    2019-04-01 05:22:02
2657    2019-04-01 05:06:24
2658    2019-04-01 04:50:47
2659    2019-04-01 04:35:10
2660    2019-04-01 04:19:32
2661    2019-04-01 04:03:55
2662    2019-04-01 03:48:17
2663    2019-04-01 03:32:40
2664    2019-04-01 03:17:03
2665    2019-04-01 03:01:25
2666    2019-04-01 02:45:48
2667    2019-04-01 02:29:17
2668    2019-04-01 02:13:40
2669    2019-04-01 01:58:02
2670    2019-04-01 01:42:25
2671    2019-04-01 01:26:48
2672    2019-04-01 01:11:10
2673    2019-04-01 00:55:33
2674    2019-04-01 00:39:54
2675    2019-04-01 00:24:17
2676    2019-04-01 00:08:39
Name: Timestamp, Length: 2677, dtype: object

In [83]:
timestamp_split = timestamp.str.split(' ', expand=True)
date_frame = timestamp_split[0].str.split('-', expand=True)
time_frame = timestamp_split[1].str.split(':', expand=True)
#timestamp[0].str.split('-', expand=True)
#year, month, date = timestamp.str.split('-')[0], timestamp.str.split('-')[1], timestamp.str.split('-')[2]

In [89]:
features = pd.concat([energy, date_frame, time_frame], axis=1)

In [90]:
features

      Total Apparent Energy     0   1   2   0   1   2
0                  7372.664  2019  05  01  23  44  42
1                  7371.322  2019  05  01  23  29  04
2                  7370.028  2019  05  01  23  13  58
3                  7368.641  2019  05  01  22  57  49
4                  7367.293  2019  05  01  22  42  12
5                  7365.765  2019  05  01  21  56  21
6                  7364.424  2019  05  01  21  40  43
7                  7363.084  2019  05  01  21  25  06
8                  7361.745  2019  05  01  21  09  28
9                  7360.405  2019  05  01  20  53  51
10                 7359.064  2019  05  01  20  38  14
11                 7357.719  2019  05  01  20  22  36
12                 7356.376  2019  05  01  20  06  59
13                 7355.040  2019  05  01  19  51  20
14                 7353.728  2019  05  01  19  35  43
15                 7352.431  2019  05  01  19  20  05
16                 7351.054  2019  05  01  19  03  36
17                 7350.377  2019  05  01  18  47  59
18                 7350.377  2019  05  01  18  32  21
19                 7350.377  2019  05  01  18  16  44
20                 7350.377  2019  05  01  18  01  38
21                 7350.377  2019  05  01  17  45  29
22                 7350.377  2019  05  01  17  29  51
23                 7350.377  2019  05  01  17  14  14
24                 7350.377  2019  05  01  16  58  37
25                 7350.377  2019  05  01  16  42  59
26                 7350.377  2019  05  01  16  27  22
27                 7350.377  2019  05  01  16  11  44
28                 7350.377  2019  05  01  15  56  07
29                 7350.377  2019  05  01  15  40  30
...                     ...   ...  ..  ..  ..  ..  ..
2647               5807.778  2019  04  01  07  44  13
2648               5807.778  2019  04  01  07  27  33
2649               5807.778  2019  04  01  07  11  56
2650               5807.778  2019  04  01  06  56  18
2651               5807.778  2019  04  01  06  40  40
2652               5807.778  2019  04  01  06  25  03
2653               5807.567  2019  04  01  06  08  54
2654               5806.245  2019  04  01  05  53  17
2655               5804.969  2019  04  01  05  38  11
2656               5803.582  2019  04  01  05  22  02
2657               5802.234  2019  04  01  05  06  24
2658               5800.884  2019  04  01  04  50  47
2659               5799.537  2019  04  01  04  35  10
2660               5798.189  2019  04  01  04  19  32
2661               5796.840  2019  04  01  04  03  55
2662               5795.493  2019  04  01  03  48  17
2663               5794.145  2019  04  01  03  32  40
2664               5792.797  2019  04  01  03  17  03
2665               5791.449  2019  04  01  03  01  25
2666               5790.101  2019  04  01  02  45  48
2667               5788.676  2019  04  01  02  29  17
2668               5787.328  2019  04  01  02  13  40
2669               5785.983  2019  04  01  01  58  02
2670               5784.635  2019  04  01  01  42  25
2671               5783.289  2019  04  01  01  26  48
2672               5781.969  2019  04  01  01  11  10
2673               5780.652  2019  04  01  00  55  33
2674               5779.334  2019  04  01  00  39  54
2675               5778.016  2019  04  01  00  24  17
2676               5776.698  2019  04  01  00  08  39

[2677 rows x 7 columns]

In [93]:
features[0:2600].to_csv('train.csv')

In [94]:
features[2600:].to_csv('test.csv')

In [98]:
features.columns = ['total apparent energy', 'year', 'month', 'date', 'hour', 'minute', 'second']

In [99]:
features.head()

   total apparent energy  year month date hour minute second
0               7372.664  2019    05   01   23     44     42
1               7371.322  2019    05   01   23     29     04
2               7370.028  2019    05   01   23     13     58
3               7368.641  2019    05   01   22     57     49
4               7367.293  2019    05   01   22     42     12